
@keyframes expand {
    from {width:0%;}
    to {}
}
  
  .progress-bar{
    animation-name:expand;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-timing-function: ease-in;
  }

  .color_progress_bar{
    background-color: #000000;
  }

  .medida_matchimg{
    width: 500px;
    background-size: cover;
    filter: drop-shadow(0px 7px 21px blue);
    animation: rotar 10s linear infinite;
  }

  .medida_matchimg:hover{
    cursor: pointer;
  }

  @keyframes rotar{
    from{
      transform: rotateY(180deg);
    }
    to{
      transform: rotateY(-180deg);
    }
  }

.conocimientos_deficiencias{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5rem;
}

.columna{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo_def_conoc{
  background-image: url('../Utils/materiales.jpg');
}


.btn_rechazo{
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: red;
}
  @media(min-width:150px) and (max-width:360px){
    .medida_matchimg{
      width: 210px;
    }
  }

  @media(min-width:361px) and (max-width:393px){
    .medida_matchimg{
      width: 230px;
    }
  }

  @media(min-width:394px) and (max-width:414px){
    .medida_matchimg{
      width: 280px;
    }
  }

  @media(min-width:415px) and (max-width:428px){
    .medida_matchimg{
      width: 280px;
    }
  }

  @media(min-width:429px) and (max-width:834px){
    .medida_matchimg{
      width: 400px;
    }
  }

  @media(min-width:835px) and (max-width:1280px){
    .medida_matchimg{
      width: 400px;
    }
  }

  @media(max-width:768px){
    .conocimientos_deficiencias{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      column-gap: 5rem;
    }
  }