
.size_iconoEmparejamiento{
    width: 35px;
}

.color_icono{
    filter: grayscale(100%);
}

.link_style{
    text-decoration: none;
    color: black;
}

.margen_superior{
    margin-top: 100px;
}

/* Estilos para el sidebar */
.sb_styles {
    width: 300px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color: #f0f0f0; /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
}

.divide_secciones{
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 5rem;
    height: 100vh;
}

.columna_sidebar{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.margen_vistas{
  margin-right: 5rem;
}

@media (min-width:361px) and (max-width:428px){
  .columna_sidebar{
    display: flex;
      flex-direction: column;
      max-width: 100px;
  }

  .sb_styles {
    width: 100px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color: #f0f0f0; /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
  }

  .txt_hdn{
    display: none;
  }

  .img_perfil_m{
    width:50px;
    height:50px;
  }

  .menu_list{
    padding-left: 15px;
  }

  .divide_secciones{
    display: grid;
    grid-template-columns: 100px 524px;
    column-gap: 0.3rem;
    height: 100vh;
  }
}

@media(min-width:429px){
  .img_perfil_m{
    width:100px;
    height:100px;
  }
} 

@media(max-width:360px){
  .columna_sidebar{
    display: flex;
      flex-direction: column;
      max-width: 100px;
  }

  .sb_styles {
    width: 100px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color: #f0f0f0; /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
  }

  .txt_hdn{
    display: none;
  }

  .img_perfil_m{
    width:50px;
    height:50px;
    margin-right: 20px;
  }

  .menu_list{
    padding-left: 15px;
  }

  .divide_secciones{
    display: grid;
    grid-template-columns: 100px 324px;
    column-gap: 0.3rem;
    height: 100vh;
  }
}


