:root {
  --azul-oceano: #007aa3;
  --azul-profundo: #00475f;
  --azul-cielo-hover: #0073a0;
  --azul-armonia : #3c6dae;
  --negro-absoluto: #000000;
  --gris-oscuro: #333333;
  --gris-tenue:#f5ecec;
  --Brighter-Green: #76B947;
  --Soft-Violet: #6A4C93;
  --Soft-Violet-Hover:#8065a6;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --grey-color: #a9acb0;
  --dark-color: #343a40;
  }
  
.objeto-menu {
  color: white;
  align-items: center;
 
}

.objeto-menu:hover {
  color: var(--azul-cielo-hover); /* Mantén el color del texto blanco para que sea legible */
}


.btn-cerrar-sesion
{
  background-color:var(--azul-profundo);
}
.btn-cerrar-sesion:hover
{
  background-color: var(--negro-absoluto);
}
.size_iconoEmparejamiento{
    width: 35px;
}

.color_icono{
    filter: grayscale(100%);
}

.link_style{
    text-decoration: none;
    color: black;
}

/*.fondo_modulos {
  background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url(../Utils/fondo-aprendizaje.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}*/

.margen_superior{
    margin-top: 100px;
}

.margen_vistas{
  margin-right: 4rem;
}

/* Estilos para el sidebar */
.sb_styles {
    width: 300px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color:var(--azul-armonia); /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
}

.divide_secciones{
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 5rem;
    height: 100vh;
    /*background: linear-gradient(45deg,#3710bc,#dfb955,#fcffd1,#c2d4c3);
    animation: color 12s ease-in-out infinite;*/
}

/*@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}*/

.columna_sidebar{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.medalla {
  width: 130px; /* Ajusta este valor según necesites */
  height: auto; /* Esto mantendrá la proporción de la imagen */
  opacity: 0.4; /* opacas cuando están deshabilitadas */
  transition: opacity 0.3s ease;
  padding:5px;
}

.medalla.habilitada {
  opacity: 1; /* normal cuando están habilitadas */
}



@media(min-width:429px){
  .img_perfil_m{
    width:100px;
    height:100px;
  }
} 

@media(min-width:150px) and (max-width:360px){
  .columna_sidebar{
    display: flex;
      flex-direction: column;
      max-width: 80px;
  }

  .sb_styles {
    width: 80px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color:var(--azul-armonia); /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
  }

  .txt_hdn{
    display: none;
  }

  .img_perfil_m{
    width:50px;
    height:50px;
    margin-right: 20px;
  }

  .divide_secciones{
    display: grid;
    grid-template-columns: 80px 233px;
    column-gap: 0.3rem;
    height: 100vh;
  }

  .margen_vistas{
    margin-right: 5px;
  }
}




@media(min-width:360px) and (max-width:393px){
  .columna_sidebar{
    display: flex;
      flex-direction: column;
      max-width: 100px;
  }

  .margen_vistas{
    margin-right: 5px;
  }

  .sb_styles {
    width: 100px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color:var(--azul-armonia); /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
  }

  .txt_hdn{
    display: none;
  }

  .img_perfil_m{
    width:50px;
    height:50px;
  }

  .menu_list{
    padding-left: 15px;
    /*background: white;*/
  }

  .divide_secciones{
    display: grid;
    grid-template-columns: 100px 253px;
    column-gap: 0.3rem;
    height: 100vh;
  }
}

@media(min-width:394px) and (max-width:414px){
  .columna_sidebar{
    display: flex;
      flex-direction: column;
      max-width: 100px;
  }

  .margen_vistas{
    margin-right: 10px;
  }

  .sb_styles {
    width: 100px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color: var(--azul-armonia); /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
  }

  .txt_hdn{
    display: none;
  }

  .img_perfil_m{
    width:50px;
    height:50px;
  }

  .menu_list{
    padding-left: 15px;
  }

  .divide_secciones{
    display: grid;
    grid-template-columns: 100px 307px;
    column-gap: 0.3rem;
    height: 100vh;
  }
}

@media(min-width:414px) and (max-width:428px){
  .columna_sidebar{
    display: flex;
      flex-direction: column;
      max-width: 100px;
  }

  .margen_vistas{
    margin-right: 7px;
  }

  .sb_styles {
    width: 100px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color:var(--azul-armonia); /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
  }

  .txt_hdn{
    display: none;
  }

  .img_perfil_m{
    width:50px;
    height:50px;
  }

  .menu_list{
    padding-left: 15px;
  }

  .divide_secciones{
    display: grid;
    grid-template-columns: 100px 310px;
    column-gap: 0.3rem;
    height: 100vh;
  }
}

@media(min-width:429px) and (max-width:834px){
  .sb_styles {
    width: 300px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color: var(--azul-armonia); /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
}

  .divide_secciones{
      display: grid;
      grid-template-columns: 300px 448px;
      column-gap: 1rem;
      height: 100vh;
  }

  .columna_sidebar{
      display: flex;
      flex-direction: column;
      max-width: 300px;
  }

  .margen_vistas{
    margin-right: 10px;
  }
}

@media(min-width:835px) and (max-width:1280px){
  .sb_styles {
    width: 300px; /* Ancho fijo del sidebar */
    height: 100vh; /* Altura igual al alto de la ventana */
    position: fixed; /* Sidebar fijo en la ventana */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    background-color:var(--azul-armonia); /* Color de fondo del sidebar */
    z-index: 1000; /* Z-index alto para que esté por encima del contenido */
  }

  .divide_secciones{
      display: grid;
      grid-template-columns: 300px 1fr;
      column-gap: 1rem;
      height: 100vh;
  }

  .columna_sidebar{
      display: flex;
      flex-direction: column;
      max-width: 300px;
  }

  .margen_vistas{
    margin-right: 15px;
  }
}

