:root {
     --Darker-Blue:  #04476E;
  --Medium-Blue: #3B89A9;
  --Lighter-Blue:  #81C3D7;
  --Brighter-Green: #76B947;
  --Soft-Violet: #6A4C93;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --grey-color: #a9acb0;
  --dark-color: #343a40;
  }

  .texto-navbar, .texto-navbar a
  {
    color: white !important;
  }
  .dropdown-menu {
    background-color: var(--Medium-Blue) !important; 
    min-width: max-content;
  }
  
  .dropdown-item {
    background-color: var(--Medium-Blue) !important;
    color: white !important; 
  }
  
  .dropdown-item:hover {
    background-color: var(--Lighter-Blue) !important; 
  }

.navbar 
{
    color: white !important;
    background:  linear-gradient(var(--Lighter-Blue),var(--Darker-Blue));
}

.dropdown-item-text {
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  padding: 8px 15px; /* Añade un relleno: vertical y horizontal */
  white-space: nowrap; /* Impide que el texto se ajuste a una nueva línea */
  overflow: hidden; /* Oculta cualquier contenido que desborde */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
  color: #333; /* Cambia el color del texto, si es necesario */
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  /* O cualquier otro estilo que desees aplicar */
}