:root {
     --Darker-Blue:  #04476E;
  --Medium-Blue: #3B89A9;
  --Lighter-Blue:  #81C3D7;
  --Brighter-Green: #76B947;
  --Soft-Violet: #6A4C93;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --grey-color: #a9acb0;
  --dark-color: #343a40;
  }

  .texto-navbar, .texto-navbar a
  {
    color: white !important;
  }
  .dropdown-menu {
    background-color: var(--Medium-Blue) !important; 
    min-width: max-content;
  }
  
  .dropdown-item {
    background-color: var(--Medium-Blue) !important;
    color: white !important; 
  }
  
  .dropdown-item:hover {
    background-color: var(--Lighter-Blue) !important; 
  }

.navbar 
{
    color: white !important;
    background:  linear-gradient(var(--Lighter-Blue),var(--Darker-Blue));
}

.dropdown-item-text {
  text-align: left;
  padding: 8px 15px; 
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  color: #333; 
  font-size: 1rem; 
  
}



/* Estilos para el submenú */
.submenu {
  position: absolute;
  left: 100%; /* Esto posiciona el submenú justo a la derecha del contenedor padre */
  top: 0; /* Alinea el submenú con la parte superior del contenedor padre */
  min-width: 150px; /* Ajusta según necesites */
}

/* Opcional: Ajustes para mejorar la apariencia */
.submenu-item {
  white-space: nowrap; /* Evita que los elementos del submenú se rompan en varias líneas */
}

.dropdown-menu {
  position: absolute;
  transform: none !important; /* Desactiva transformaciones que pudiera aplicar Bootstrap */
}

/* Ajusta la posición del submenú a la derecha del menú principal */
.dropdown-menu .dropdown-menu {
  top: 0;
  left: 100%; /* Desplazamiento completo a la derecha del menú padre */
  margin-top: 0; /* Asegura que no haya desplazamiento vertical adicional */
}


/* Ajusta el ancho mínimo del menú desplegable */
.ua-dropdown-toggle .dropdown-menu {
  min-width: 282px;  /* Ajusta este valor según sea necesario para acomodar el texto más largo */
}

/* Opcional: Si quieres asegurarte de que todos los menús desplegables tengan el mismo ancho */
.nav-dropdown .dropdown-menu {
  width: 100%;  /* Hace que todos los menús desplegables tengan el mismo ancho */
}
