:root {
     --Darker-Blue:  #04476E;
  --Medium-Blue: #3B89A9;
  --Lighter-Blue:  #81C3D7;
  --Brighter-Green: #76B947;
  --Soft-Violet: #6A4C93;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --grey-color: #a9acb0;
  --dark-color: #343a40;
  }

  .texto-navbar, .texto-navbar a
  {
    color: white !important;
  }
  .dropdown-menu {
    background-color: var(--Medium-Blue) !important; 
  }
  
  .dropdown-item {
    background-color: var(--Medium-Blue) !important;
    color: white !important; 
  }
  
  .dropdown-item:hover {
    background-color: var(--Lighter-Blue) !important; 
  }

.navbar 
{
    color: white !important;
    background:  linear-gradient(var(--Lighter-Blue),var(--Darker-Blue));
}
  