:root {
    --azul-oceano: #007aa3;
    --azul-profundo: #00475f;
    --azul-cielo-hover: #0073a0;
    --azul-armonia : #3c6dae;
    --negro-absoluto: #000000;
    --gris-oscuro: #333333;
    --gris-tenue:#f5ecec;
    --Brighter-Green: #76B947;
    --Soft-Violet: #6A4C93;
    --Soft-Violet-Hover:#8065a6;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --grey-color: #a9acb0;
    --dark-color: #343a40;
    }

.fondo-header
{
    background: var(--azul-profundo);
    color: white;
}
.fondo-footer{
    background: var(--azul-profundo);
    color: white;
}

.fondo-modal
{
    background: var(--gris-tenue);
}

.modal-materias
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5 px rgba(0, 0, 0, 0.5);
}

.modal-materias-header
{
    background-color: var(--azul-profundo);
    border-bottom: 1px solid #dee2e6;
}

.modal-materias-titulo
{
    color: white;
}

.modal-materias-body
{
    padding: 20px;
    background-color: var(--gris-tenue);
}

.modal-materias-footer
{
    background-color: var(--azul-profundo);
}


.modal-registro-satisfactorio
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5 px rgba(0, 0, 0, 0.5);
}