:root {
    --Darker-Blue:  #04476E;
    --Medium-Blue: #3B89A9;
    --Lighter-Blue:  #81C3D7;
    --Brighter-Green: #76B947;
    --Soft-Violet: #6f42c1;
    --Green-color: rgb(0,128,0);
    --light-color: #f8f9fa;
    --dark-color: #343a40;
  }

  .color-fondo
  {
    
  }