:root {
  --azul-oceano: #007aa3;
  --azul-profundo: #00475f;
  --azul-cielo-hover: #0073a0;
  --negro-absoluto: #000000;
  --gris-oscuro: #333333;
    --Brighter-Green: #76B947;
    --Soft-Violet: #6f42c1;
    --Green-color: rgb(0,128,0);
    --light-color: #f8f9fa;
    --dark-color: #343a40;
  }

  .color-fondo
  {
    
  }