:root {
  --azul-oceano: #007aa3;
  --azul-profundo: #00475f;
  --azul-cielo-hover: #0073a0;
  --azul-armonia : #3c6dae;
  --negro-absoluto: #000000;
  --gris-oscuro: #333333;
  --gris-tenue:#f5ecec;
  --Brighter-Green: #76B947;
  --Soft-Violet: #6A4C93;
  --Soft-Violet-Hover:#8065a6;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --grey-color: #a9acb0;
  --dark-color: #343a40;
  }
/* Estilos personalizados para el Dropdown */
.container {
    margin-top: 20px;
  }
  
  /* Ajuste de margen superior para separar del contenido superior */
  
  .dropdown {
    width: 200px; /* Ancho del botón desplegable */
  }
  
  .dropdown-menu {
    width: 100%; /* Ajusta el ancho del menú desplegable al 100% del contenedor */
  }
  
  .dropdown-item {
    width: 100%; /* Ajusta el ancho de los elementos del menú desplegable */
  }
  
  /* Estilos adicionales si es necesario para personalizar el aspecto del contenedor de texto */
  .mt-2 {
    margin-top: 10px; /* Ajuste de margen superior */
  }
  