:root {
  --Darker-Blue:  #04476E;
  --Medium-Blue: #3B89A9;
  --Lighter-Blue:  #81C3D7;
  --Brighter-Green: #76B947;
  --Soft-Violet: #6A4C93;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

.principal-contenedor {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
  }
  
  .content-wrap {
    flex: 1; /* Esto permite que el contenido se expanda y ocupe el espacio disponible */
  }

  .spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    flex-direction: column; /* Organiza los hijos en una columna */
    justify-content: center; /* Centra los hijos verticalmente */
    align-items: center; /* Centra los hijos horizontalmente */
    height: 100vh; /* O la altura que desees para el contenedor */
    color: white;
  }
